/* Start Variables */
:root {
  --main-color: #19c8fa;
}
/* End Variables */
/* Start Global Roles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Roles */
/* Start Header */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 1px;
  width: calc(100% - 30px);
  bottom: -1px;
  left: 15px;
  z-index: -2;
}
header .container img {
  height: 40px;
}
header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav ul {
  display: flex;
}
header .container nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  display: block;
  padding: 40px 10px;
}
header .container nav ul li a:hover,
header .container nav ul li a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .container nav form {
  width: 40px;
  height: 30px;
  margin-left: 30px;
  border-left: 1px solid white;
  position: relative;
}
header .container nav form i {
  font-size: 15px;
  position: absolute;
}
/* End Header */
